<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cars
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>

  <ion-list *ngIf="paginatedCarResult">
    <ion-card *ngFor="let car of paginatedCarResult.data">
      <ion-img [src]="car.images[0]"/>
      <ion-card-header>
        <ion-card-title>{{car.brandName}}</ion-card-title>
        <ion-card-subtitle>{{car.modelYear}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{car.dailyPrice | turkishCurrency}}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
